<div id="pagination">
    <ul class="pagination">
        <%if(page>1){%>
        <li class="page-item"><a class="page-link" href="/category-<%=category.slug%>.<%=category._id%>?page=<%=page-1%>">&laquo;</a></li>
        <%}%>
        <%for(let CurrentPage of pages){%>
            <%if(CurrentPage==="..."){%>
                <li class="page-item <%=page===CurrentPage?'active':''%>"><span><%=CurrentPage %></span></li>
            <%} else {%>
                <li class="page-item <%=page===CurrentPage?'active':''%>"><a class="page-link" href="/category-<%=category.slug%>.<%=category._id%>?page=<%=CurrentPage%>"><%=CurrentPage %></a></li>
                <%}%>
            

        <%}%>
        <%if(page < totalPages){%>
        <li class="page-item"><a class="page-link" href="/category-<%=category.slug%>.<%=category._id%>?page=<%=page+1%>">&raquo;</a></li>
        <%}%>
    </ul>
</div>