
</div>
<div id="footer-top" >
	<div class="container" style="background: #00483d; border-radius: 10px;">
    	<div class="row footer" >
        	<div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
            	<h2><a href="#"><img width="260px"  src="../Uploads/images/<%=config.logo_footer%>"></a></h2>
                <p class="footer-color"><%=config.body%></p>
            </div>
            <div id="address" class="col-lg-3 col-md-6 col-sm-12"  >
            	<h3 class="footer-color">Địa chỉ</h3>
                <p class="footer-color"><%=config.address%></p>
            </div>
            <div id="service" class="col-lg-3 col-md-6 col-sm-12">
            	<h3 class="footer-color">Dịch vụ</h3>
            	<p class="footer-color"><%=config.service%></p>
            </div>
            <div id="hotline" class="col-lg-3 col-md-6 col-sm-12">
            	<h3 class="footer-color">Hotline</h3>
            	<p class="footer-color">Phone Sale: <%=config.hotline%></p>
                <p class="footer-color">Email: <%=config.email%></p>
            </div>
        </div>
</div>

<!--	Footer	-->
<div id="footer-bottom">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12">
            	<p style="text-align: center;"><%=config.register%></p>
            </div>
        </div>
    </div>
</div>
<!--	End Footer	-->













</body>
</html>
